

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body {
  background-image: url('../img/paper.jpg');
  background-repeat: no-repeat;
/*  background-attachment: fixed;*/
  background-size: cover;
}
}

button {
  width: 200px;
  height: 50px;
  /*margin: 0 auto;*/
}

.buttondiv {
  text-align: center;
}










